<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>repl.it</title>
    <link href="style.css" rel="stylesheet" type="text/css" />
</head>

<body>
    <div class="left">
        <div>
            <nav>Nav</nav>
            <div class="content">Content</div>
            <div class="content__right">
                <div class="content__right__top">Top</div>
                <div class="content__right__bottom">Bottom</div>
            </div>
        </div>
        <div>
            <nav>Nav</nav>
            <div class="content">Content</div>
            <div class="content__right">
                <div class="content__right__top">Top</div>
                <div class="content__right__bottom">Bottom</div>
            </div>
        </div>
        <div>
            <nav>Nav</nav>
            <div class="content">Content</div>
            <div class="content__right">
                <div class="content__right__top">Top</div>
                <div class="content__right__bottom">Bottom</div>
            </div>
        </div>
        <div>
            <nav>Nav</nav>
            <div class="content">Content</div>
            <div class="content__right">
                <div class="content__right__top">Top</div>
                <div class="content__right__bottom">Bottom</div>
            </div>
        </div>
        <div>
            <nav>Nav</nav>
            <div class="content">Content</div>
            <div class="content__right">
                <div class="content__right__top">Top</div>
                <div class="content__right__bottom">Bottom</div>
            </div>
        </div>
        <div>
            <nav>Nav</nav>
            <div class="content">Content</div>
            <div class="content__right">
                <div class="content__right__top">Top</div>
                <div class="content__right__bottom">Bottom</div>
            </div>
        </div>

    </div>

    <div class="center">
        <div>Center Top Area</div>
        <img />
        <div>Center Bottom Area</div>
    </div>

    <div class="right">
        <header>
            <ul>
                <li>Info</li>
                <li>Team</li>
                <li>Press</li>
            </ul>
        </header>
        <div class="content">
            <div>
                <h2>Title</h2>
                <p>블라블라블라</p>
            </div>
            <div>
                <h2>Title</h2>
                <p>블라블라블라</p>
            </div>
            <div>
                <h2>Title</h2>
                <p>블라블라블라</p>
            </div>
            <div>
                <h2>Title</h2>
                <p>블라블라블라</p>
            </div>
            <div>
                <h2>Title</h2>
                <p>블라블라블라</p>
            </div>
            <div>
                <h2>Title</h2>
                <p>블라블라블라</p>
            </div>
            <div>
                <h2>Title</h2>
                <p>블라블라블라</p>
            </div>
            <div>
                <h2>Title</h2>
                <p>블라블라블라</p>
            </div>
            <div>
                <h2>Title</h2>
                <p>블라블라블라</p>
            </div>
            <div>
                <h2>Title</h2>
                <p>블라블라블라</p>
            </div>
            <div>
                <h2>Title</h2>
                <p>블라블라블라</p>
            </div>
            <div>
                <h2>Title</h2>
                <p>블라블라블라</p>
            </div>
        </div>

    </div>
</body>

</html>